---
import AsyncForm from '@components/forms/AsyncForm';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Login Page">
    <div class="w1 flex center acenter">

        <AsyncForm endpoint="/auth/login" method="post" client:visible>
            <div class="w1 flex column gap down">
                <input type="text" name="username" placeholder="Username" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <button type="submit">Login</button>
            </div>
        </AsyncForm>
    </div>
</Layout>