---
import AdminLayout from '@layouts/AdminLayout.astro';
import Card from '@components/Card.astro';
---

<AdminLayout title="Dashboard">
    <h1>Dashboard</h1>

    <Card href="wrestlers" title="Wrestlers" body="Check out the list of wrestlers." />
</AdminLayout>
