---
import Layout from '@layouts/Layout.astro';
import WrestlersList from '@components/wrestlers/list.astro';
const filters = Astro.url.searchParams
---

<Layout title='Wrestlers'>
    <main>
        <h1 class="text-gradient">Wrestlers</h1>

        <form action="" method="get">
            <div class="w1 flex start">
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" value={filters.get('search')} />
                <button type="submit">Search</button>
            </div>
        </form>

        <WrestlersList filters={filters} />
    </main>
</Layout>

