---
import Layout from '../layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout title="Home">
    <h1 class="dreadnotus fs-xlarge nodisplay">Public dashboard</h1>
    <div class="dashboard-home w1 flex end aend">
        <div class="home-spas-links w1 flex total-flex center gap-small flex-responsive">
            <Card title="Roster" href="/roster" body="Check the roster of the wrestlers" />
            <Card title="Twitter" href="/twitter" body="Check the latest tweets" />
            <Card title="Blog" href="/blog" body="Check the latest posts" />
            <Card title="Administrador" href="/private/dashboard" body="Accede al panel de administración" />
        </div>
    </div>
</Layout>

<style>
    body#home.home-page {
        background-image: url('https://zonawrestling.net/wp-content/uploads/2023/06/20/judgment-day.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    body#home.home-page .dashboard-home {
        min-height: 100vh;
        padding: 1rem;
    }
</style>
