/* @import './typos.css'; */
@import './layouts.css';

:root {
    --sidebar-width: 320px;
    --sidebar-bg: #17181c;
    --smackdown: #00a2ff;
    --raw: #f44336;
    --awl: rgb(164, 63, 184);
    --legend: #ff9800;
    --all: #c9b041;
    --font-color: #2f2f2f;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

button,
span,
a {
    display: block;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

html body {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.2;
    color: var(--font-color);
    overflow-x: hidden;
    min-height: 99vh;
    background-color: #e9e9e9;
}

body img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    mask-image: linear-gradient(black 80%, transparent);
}
body img.unmasked {
    mask-image: none;
}

.snackbar.snackbar-form-message {
    max-width: 450px;
    width: 100%;
    position: fixed;
    top: 10px;
    right: 25px;
    z-index: 120;
    padding: 6px 20px;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.snackbar.snackbar-form-message.snackbar-type-style-success {
    background-color: #4caf50;
    color: #fff;
}
.snackbar.snackbar-form-message.snackbar-type-style-error {
    background-color: #f44336;
    color: #fff;
}
.snackbar.snackbar-form-message.snackbar-appearing-animation {
    animation: appear 1s ease;
}

.relative.form.async-form.async-react-form .loading.form-loading-internal-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.relative.form.async-form.async-react-form .loading.form-loading-internal-spinner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
}

/* SCROLL BAR CUSTOM STYLES */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    height: auto;
}
.noscrollbar::-webkit-scrollbar,
.none-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

body.dark-theme ::-webkit-scrollbar-track {
    background: var(--darker);
}

body.dark-theme ::-webkit-scrollbar-thumb {
    background: var(--blue);
}

.svg.customs-svg path {
    fill: #858585 !important;
}

.svg.customs-svg {
    width: 50px;
    height: 40px;
}

/* #back-top {
    margin-top: 105vh;
    position: sticky;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
    background-color: #00a2ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    z-index: 999990;
} */

.pagination .pagination-item {
    padding: 8px 10px;
    background-color: #fff;
    color: #111010;
    border: 1px solid #dadadac2;
}

.pagination-item.active {
    margin-bottom: 10px;
    background-color: #111010;
}

.pagination-item.active a,
.pagination-item.active {
    color: #fff;
}

.skeleton-loading.skeleton-line {
    min-height: 20px;
    width: 100%;
    border-radius: 10px;
}

.skeleton-loading.skeleton-circle {
    border-radius: 50%;
}

.skeleton-loading {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes selectedAnimation {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #a3a3a344;
    }

    100% {
        background-color: #f1f1f145;
    }
}

/* ANIMATIONS */
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        z-index: 1;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
