---
import CommonHead from '@components/CommonHead.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<CommonHead />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	*, *::after, *::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		color-scheme: dark light;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		font-weight: 700;
	}

	button, span, a {
		display: block;
	}

	button, a {
		text-decoration: none;
		cursor: pointer;
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
